body {
  font-family: "Lexend", sans-serif;
  background-color: #f0f7ff;
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px
}

.bento-card {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  border: 4px solid #fff;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.05)
}

.floating-icon {
  animation: bounce-slow 3s ease-in-out infinite
}

@keyframes bounce-slow {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.h-pattern {
  background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuC0HhFeZT_R-zG8eKYw8vF5XbqN_rXNFSzPTz3XVOkbw7vaSCg4IW-osT9XfztyDcegKg_2LfnecnxYlHGW3ihMYiprijCFl1nPhwqOdji1JpXPopoYYP4jU6YZkcXTxkVu-N94D6obSU1WWMDqHRzObz_ZEFkOoD5i_FHXx32M2QC77cPXl0FdXP0-_PhkDhjGIuMQwd4zLRxK5KXfmk7O9PdH7p1o9VH5_bA70EZXs18qlgdYpJ6auFV05A5TaOvx8mA_PRuC3-Wz)
}